<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Coronavirus COVID-19</span>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- <app-totals badgeStyle="danger" field="TotalConfirmed" title="Total Confirmed"></app-totals> -->
      <app-total-confirmed></app-total-confirmed>
    </div>
    <div class="col-md-6">
      <app-map></app-map>
    </div>
    <div class="col-md-4">
      <div class="row bottom-spacing">
        <div class="col-md-12">
          <app-chart></app-chart>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <app-totals badgeStyle="light" field="TotalDeaths" title="Total Deaths"></app-totals>
        </div>
        <div class="col-md-6">
          <app-totals badgeStyle="success" field="TotalRecovered" title="Total Recovered"></app-totals>
        </div>
      </div>
    </div>
  </div>
</div>
