<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Coronavirus COVID-19</span>
</nav>

<div class="container-fluid">
  <div class="flex">
    <div class="total-confirmed-container gutter">
      <app-total-confirmed></app-total-confirmed>
    </div>
    <div class="map-container gutter">
      <app-map></app-map>
    </div>

    <div class="chart-container gutter">
      <app-chart></app-chart>

      <div class="flex">
        <div class="totals-container">
          <app-totals badgeStyle="light" field="TotalDeaths" title="Total Deaths"></app-totals>
        </div>
        <div class="totals-container">
          <app-totals badgeStyle="success" field="TotalRecovered" title="Total Recovered"></app-totals>
        </div>
      </div>
    </div>
  </div>
  <div class="flex gutter">
    <div class="state-increase-container gutter">
      <app-state-increase></app-state-increase>
    </div>    
  </div>
</div>
